* text=auto eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
gradlew text eol=lf
*.jar binary
*.ico binary
*.png binary
